{
    "mcpServers": {
      "home-assistant": {
        "command" : "node",
        "cwd" : "/mnt2/code/mcpcalc",
        "args": [
          "home2.mjs"
        ],
        "env": {
          "debug_log": "false"
        }
      },
      "example-streamable-http": {
        "transport" : "http",
        "url" : "http://127.0.0.1:8000/mcp",
        "disabled" : false
      }            
    }
}